@model Base_AVL.ViewModels.VehicleClasses

@{
    ViewBag.Title = "AddVehicleClass";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container-fluid col-lg-10 col-lg-offset-1">
    <h2>Add Vehicle Class</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            
            <div class="form-group">
                @Html.LabelFor(model => model.VehicleClassName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VehicleClassName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VehicleClassName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VehicleClassImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Choose Class Image
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><img src="~/Images/types/00001.png" class="classImage" /></li>
                            <li><img src="~/Images/types/00002.png" class="classImage" /></li>
                            <li><img src="~/Images/types/00003.png" class="classImage" /></li>
                            <li><img src="~/Images/types/00004.png" class="classImage" /></li>
                            <li><img src="~/Images/types/00005.png" class="classImage" /></li>
                            <li><img src="~/Images/types/00006.png" class="classImage" /></li>
                            <li><img src="~/Images/types/00007.png" class="classImage" /></li>
                            <li><img src="~/Images/types/00008.png" class="classImage" /></li>
                        </ul>
                    </div><br />
                    <img class="img" src="~/Images/types/00001.png" />
                    @Html.EditorFor(model => model.VehicleClassImage, new { htmlAttributes = new { @class = "form-control", @id = "src"  } })
                    @Html.ValidationMessageFor(model => model.VehicleClassImage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VehicleClassDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VehicleClassDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VehicleClassDescription, "", new { @class = "text-danger" })
                </div>
            </div>

           

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to Vehicle Classes", "Index", new { tab = "VC" })
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('.classImage').click(function () {
                $('.img').attr('src', $(this).attr('src'));
                var image = $(this).attr('src').split('/');
                $('#src').val(image[4]);
            });
        });
    </script>
}