@using Base_AVL.Models
@model LoginViewModel
@{
    ViewBag.Title = "IntelliTraxx: Priority Ambulance AVL/Management";
}

<div class="row-fluid">
    <div class="col-md-11 col-md-offset-1">
        <div>
            <br /><br /><br /><br />
            <h1><strong>Our Community ... Our Priority</strong></h1><br /><br />
            <blockquote>
                <ul class="h3">
                    <li>Experienced</li>
                    <li>Responsive</li>
                    <li>Caring</li>
                </ul>
            </blockquote>
        </div>
        <div class="col-md-4 loginLight">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal bold", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="headerWhite">Log in</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="enterbtn" type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>
                    <p>
                        @*@Html.ActionLink("Register New Company", "../Account/Register/")*@
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
            <br />
            <div class="col-lg-4"><a href="@System.Configuration.ConfigurationManager.AppSettings["routerconfig"]">Router Configuration</a></div>
            <div class="col-lg-4"><a href="@System.Configuration.ConfigurationManager.AppSettings["tabletAPK"]">Tablet Application</a></div>
            <div class="col-lg-4"><a href="@System.Configuration.ConfigurationManager.AppSettings["initializerAPK"]">Vehicle Initialization</a></div>
            <br /><br />
        </div>
    </div>
    @*<div class="col-md-11 col-md-offset-1">
        <br /><br /><br />
        <a href="http://www.maxxfi.com" target="_blank" class="col-lg-1 thumbnail" style="margin-right: 15px;">
            <img src="~/Images/mf_logo_100.png" />
        </a>
        <a href="http://www.lata.com" target="_blank" class="col-lg-1 thumbnail" style="margin-right: 15px;">
            <img src="~/Images/lata_100.png" />
        </a>
        <a href="http://www.cradlepoint.com" target="_blank" class="col-lg-1 thumbnail" style="margin-right: 15px;">
            <img src="~/Images/cp-logo_100.png" />
        </a>
    </div>*@
    @if (ViewBag.Browser == "IE")
    {
        <div class="col-md-5 col-md-offset-1 alert-danger">
            <p class="small">Ugh! Why are you using IE? <br /><br />This application does a lot more magic and looks so much better in <a href="https://www.google.com/chrome/" target="_blank">Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> as we have left IE and even thier new Edge browser way in the past where it's developers seem to be stuck and will no longer support it. Please update to a <em>"real</em>" browser. You'll thank us for it. <br /><br /><i>-Intellitruxx Team</i></p>
        </div>
    }
    <div class="col-md-11 col-md-offset-1">
        <br />&copy; @DateTime.Now.Year - Los Alamos Technical Associates
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#enterbtn").focus();
    </script>
}
