@using Microsoft.AspNet.Identity
@using System.Security.Claims;
@using System.Threading;
@using Base_AVL.Common
<!DOCTYPE html>
<html ng-app="intelliTruxxApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="840">
    <title>IntelliTruxx: @ViewBag.Title</title>
    <link rel="icon" href="~/favicon.ico">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <style>
        #LocMap {
            height: 450px;
            border: 1px solid #000;
            padding-left: 0px;
        }

        .bar {
           background: #B91A20;
        }
    </style>

</head>
<body>
    @{
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        var identity = (ClaimsPrincipal)Thread.CurrentPrincipal;
        var roles = identity.Claims.Where(c => c.Type == "Roles").Select(c => c.Value).SingleOrDefault();
    }
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("IntelliTruxx-EMS: Priority Ambulance AVL", "Index", "VehicleLocation", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" id="showMenu">
                                <span class="glyphicons glyphicons-show-thumbnails" aria-hidden="true" style="font-size:24px"></span>
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div id="perspective" class="perspective effect-movedown">
            <div class="container col-lg-12" style="padding:0px;">
                <div class="wrapper">
                    <!-- wrapper needed for scroll -->
                    @RenderBody()
                    <div class="websiteUrl hidden">
                        @Request.Url.GetLeftPart(System.UriPartial.Authority)@Request.ApplicationPath
                    </div>
                </div><!-- wrapper -->
            </div><!-- /container -->
            <nav class="outer-nav top horizontal">
                <a href="~/" class="btn btn-info" aria-label="Italic"><span class="glyphicons glyphicons-map" aria-hidden="true" style="font-size:24px"></span> Vehicle Location</a>
                <a href="~/Dispatch/Index" class="btn btn-info" aria-label="Italic"><span class="glyphicons glyphicons-headset" aria-hidden="true" style="font-size:24px"></span>Dispatch</a>
                <a href="~/Analytics/Index" class="btn btn-info" aria-label="Italic"><span class="glyphicons glyphicons-stats" aria-hidden="true" style="font-size:24px"></span>Analytics</a>
                <a href="~/Alerts/Index" class="btn btn-info" aria-label="Italic"><span class="glyphicons glyphicons-alert" aria-hidden="true" style="font-size:24px"></span>Alerts</a>
                @if (roles.Contains("Administrator"))
                {
                    <a href="~/Admin/Index" class="btn btn-info" aria-label="Italic"><span class="glyphicons glyphicons-cogwheels" aria-hidden="true" style="font-size:24px"></span>Administration</a>
                }
            </nav>
        </div><!-- /perspective -->

        @*vehicle modal*@
        <div id="vehicleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-md-11">
                            <img class="img-responsive pull-left" id="vImage" src="~/Images/types/00001.png" />
                            <h3 id="vehicleID" class="pull-right">Vehicle ID</h3>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="col-md-12">
                            <br /><label id="vehicleDesc"></label><br />
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <ul class="nav nav-tabs nav-justified red">
                                <li role="presentation" class="active"><a data-toggle="tab" href="#driversSection" style="color: #000;"><span class="glyphicons glyphicons-keys x2" data-toggle="tooltip" data-placement="bottom" title="Drivers"></span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#alertsSection" style="color: #000;"><span class="glyphicons glyphicons-alert x2" data-toggle="tooltip" data-placement="bottom" title="Alert"></span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#dispatchSection" style="color: #000;"><span class="glyphicons glyphicons-headset x2" data-toggle="tooltip" data-placement="bottom" title="Dispatch"></span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#mapSection" style="color: #000;"> <span class="glyphicons glyphicons-cadastral-map x2" data-toggle="tooltip" data-placement="bottom" title="Map"></span></a></li>
                                @*<li role="presentation" class=""><a data-toggle="tab" href="#telemetrySection" style="color: #000;"><span class="glyphicons glyphicons-stethoscope x2" style="top: 3px;" data-toggle="tooltip" data-placement="bottom" title="Telemtry"></span></a></li>*@
                            </ul>
                            <br />
                            <div class="tab-content">
                                <div id="driversSection" class="tab-pane fade in active" style="background-color: aliceblue;">
                                    <div class="col-md-12 pre-scrollable" id="lbl_Drivers">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="" id="dImage" width="150">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading" id="dName">First Last Name</h4>
                                                <strong>ID: </strong><label id="DriverNumber"></label><br />
                                                <strong>E-mail: </strong><label id="DriverEmail"></label><br />
                                                <strong>Current Status: </strong><label id="CurrentStatus"></label><br />
                                                @*<strong>HOS: </strong><label id="HOS"></label><br />*@
                                                <strong>Notes: </strong><label id="Notes"></label><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="alertsSection" class="tab-pane fade in" style="background-color: aliceblue;">
                                    <div class="col-md-12 pre-scrollable" id="lbl_ActiveAlerts"></div>
                                </div>

                                <div id="dispatchSection" class="tab-pane fade in">
                                    <br />
                                    <div class="form-group col-lg-offset-4">
                                        <label id="lblDispatch" class="lead"></label><br />
                                        <input class="form-control" id="ModalAddress" placeholder="-- Address --"><br />
                                        <input class="form-control" id="ModalCity" placeholder="-- City --"><br />
                                        @Html.DropDownList("ModalState", Utilities.GetStateList(), "-- Select a State --", new { @class = "form-control" })<br />
                                        <input class="form-control" id="ModalZip" placeholder="-- Zip --"><br />
                                        <textarea class="form-control" id="ModalNotes" placeholder="-- Dispatch Notes --"></textarea>
                                        <br />
                                        <button class="btn btn-danger col-sm-offset-3" id="Go_Dispatch">Dispatch Vehicle</button>
                                    </div>
                                </div>

                                <div id="mapSection" class="tab-pane fade in">
                                    <br />
                                    <div class="col-md-6 sliderDiv">
                                        <label id="ST" class="sm pull-left"></label>
                                    </div>
                                    <div class="col-md-6 sliderDiv"><label id="ET" class="small pull-right"></label></div>
                                    <div class="col-md-12 text-center sliderDiv">
                                        <div id="ex1Slider"></div><br />
                                    </div>
                                    <div class="col-md-12" id="LocMap"></div>
                                    <div class="col-md-12 pull-left">
                                        <strong>As of: </strong><label id="LC" class="blueText"></label>&nbsp;&nbsp;
                                        <strong>Lat: </strong><label id="Lat" class="blueText"></label>&nbsp;&nbsp;
                                        <strong>Long: </strong><label id="Long" class="blueText"></label>&nbsp;&nbsp;
                                        <strong>Direction: </strong><label id="Dir" class="blueText"></label>&nbsp;&nbsp;
                                        <strong>Speed: </strong><label id="SPD" class="blueText"></label><br />
                                    </div>
                                </div>

                                <div id="telemetrySection" class="tab-pane fade in">
                                    <div class="col-md-12">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            As of: <label id="telemtryLR"></label>
                                            
                                            <div class="panel panel-success">
                                                <div class="panel-heading" role="tab" id="headingEleven">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                            Service Maintenace Items <span class="glyphicons glyphicons-ok" style="color: green;"></span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                                                    <div class="panel-body">
                                                        No Service Actions needed at this time.
                                                    </div>
                                                </div>
                                            </div>                                            
                                            
                                            <div class="panel panel-success">
                                                <div class="panel-heading" role="tab" id="headingTwelve">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="true" aria-controls="collapseOne">
                                                            Engine, Transmission, Emissions <span class="glyphicons glyphicons-ok" style="color: green;"></span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                                                    <div class="panel-body">
                                                        Engine, Transmission, Emissions data and information area.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-success">
                                                <div class="panel-heading" role="tab" id="headingThirteen">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                                            Brakes and Suspension <span class="glyphicons glyphicons-ok" style="color: green;"></span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                                                    <div class="panel-body">
                                                        Brakes and Suspension data and information area.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-danger">
                                                <div class="panel-heading" role="tab" id="headingFourteen">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                                            Checks, Fluids, Filters <span class="glyphicons glyphicons-settings" style="color: red;"></span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                                                    <div class="panel-body danger">
                                                        Checks, Fluids, Filters data and information area.
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*edit polygon modal*@
        <div id="polygonModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">GEO Fence Information</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.Label("Polygon Name: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("polyName", null, new { @class = "form-control", @id = "polyName" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Polygon Notes: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextArea("polyNotes", null, new { @class = "form-control", @id = "polyNotes" })
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    @Html.Label("Enter Alert: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.CheckBox("polyEnterEnabled", new { @class = "form-control", data_toggle = "toggle" })
                                        @*@Html.TextBox("polyNoteIn_C", null, new { @class = "form-control", @id = "polyNoteIn_C" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Enter Email: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("polyEnterEmail", null, new { @class = "form-control", @id = "polyEnterEmail", @placeholder = "Email. Leave blank if none.", @disabled = "diabled" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Exit Alert: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.CheckBox("polyExitEnabled", new { @class = "form-control", data_toggle = "toggle" })
                                        @*@Html.TextBox("polyNoteOut_C", null, new { @class = "form-control", @id = "polyNoteOut_C" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Exit Email: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("polyExitEmail", null, new { @class = "form-control", @id = "polyExitEmail", @placeholder = "Email. Leave blank if none.", @disabled = "disabled" })
                                    </div>
                                </div>

                                @Html.Hidden("geoFenceID")

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="deletePolygon" type="button" class="btn btn-danger">Delete GEO Fence</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="saveEditedPoly" type="button" class="btn btn-warning">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        @*create polygon modal*@
        <div id="newPolygonModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                        <h4 class="modal-title" id="myModalLabel">New GEO Fence Information</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.Label("Polygon Name: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("polyName_C", null, new { @class = "form-control", @id = "polyName_C" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Polygon Notes: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextArea("polyNotes_C", null, new { @class = "form-control", @id = "polyNotes_C" })
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    @Html.Label("Enter Alert: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.CheckBox("EnterEnabled", new { @class = "form-control", data_toggle = "toggle" })
                                        @*@Html.TextBox("polyNoteIn_C", null, new { @class = "form-control", @id = "polyNoteIn_C" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Enter Email: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("EnterEmail", null, new { @class = "form-control", @id = "EnterEmail", @placeholder = "Email. Leave blank if none.", @disabled = "diabled" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Exit Alert: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.CheckBox("ExitEnabled", new { @class = "form-control", data_toggle = "toggle" })
                                        @*@Html.TextBox("polyNoteOut_C", null, new { @class = "form-control", @id = "polyNoteOut_C" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Exit Email: ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("ExitEmail", null, new { @class = "form-control", @id = "ExitEmail", @placeholder = "Email. Leave blank if none.", @disabled = "disabled" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="deletePoly" type="button" class="btn btn-danger" data-dismiss="modal">Delete New Fence</button>
                        <button id="cancelPoly" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="savePoly" type="button" class="btn btn-warning">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)
        @Html.Partial("_Toastr")
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>
    </div>
</body>
</html>
