@using Microsoft.AspNet.Identity
@using System.Security.Claims;
@using System.Threading;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @Html.DisplayText("what")
            @{
            var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
            var identity = (ClaimsPrincipal)Thread.CurrentPrincipal; 
            var roles = identity.Claims.Where(c => c.Type == "Roles").Select(c => c.Value).SingleOrDefault();
            
            if (claimsIdentity != null)
            {
                string profile = "Email: " + claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Email).Value.ToString() + "<br /> Phone: " + claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.HomePhone).Value.ToString() + "<br /> Companies: " + claimsIdentity.FindFirst("Companies").Value.ToString() + "<br /> Roles: " + claimsIdentity.FindFirst("Roles").Value.ToString() + "<br /><br /><br />";
                profile += "<a href=\"javascript:document.getElementById('logoutForm').submit()\"><i class=\"glyphicon glyphicon-off\"></i> Log off</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";

                if(roles.Contains("Administrator"))
                { 
                    <a href="#" class="" id="showMenu" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="@profile @Html.ActionLink("Edit", "EditUser", "Admin", new { userID = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Sid).Value.ToString() }, new { @class = "glyphicon glyphicon-pencil" }).ToString()">
                        <span class="glyphicons glyphicons-user" aria-hidden="true" style="font-size:24px"></span> Welcome, @User.Identity.GetUserName()
                    </a>
                }
                else
                {
                    <a href="#" id="showMenu" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="@profile">
                        <span class="glyphicons glyphicons-user" aria-hidden="true" style="font-size:24px"></span>
                    </a>
                }
            }
            else
            {
                    <a href="#" id="showMenu" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Profile Not Available">
                        <span class="glyphicons glyphicons-user" aria-hidden="true" style="font-size:24px"></span>
                    </a>
                }
            }
        </li>
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
