@using Microsoft.AspNet.Identity
@using System.Security.Claims;
@using System.Threading;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkyxzsMHs1COuqcUEkPKiHY2289J0LG-4&libraries=drawing" async defer></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/logoMenu")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/logoMenu")
    <script src="~/Scripts/fleet.js"></script>
</head>
<body>
    @{
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        var identity = (ClaimsPrincipal)Thread.CurrentPrincipal;
        var roles = identity.Claims.Where(c => c.Type == "Roles").Select(c => c.Value).SingleOrDefault();
    }
   
    <div class="body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
    @Html.Partial("_Toastr")
</body>
</html>
